@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow-down {
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -20px;
}
.arrow-down:hover {
  border-top-color: #a2dc75;
  border-width: 20px;
  margin-left: -20px;
  bottom: -2.65em;
}
